<div class="form-container">
    <h1>Crear un Heroe</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSaveForm">
        <div class="form-group">
            <label for="formGroupExampleInput">Nombre Heroe</label>
            <input formControlName="name" type="text" class="form-control" placeholder="Nombre Heroe">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Fecha Aparición</label>
            <br>
            <input formControlName="release" class="form-control" matInput [matDatepicker]="picker" style="display:inline; width: 90%;" readonly placeholder="Fecha Aparición">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Casa</label>
            <select formControlName="familyId" class="form-control">
            <option value="Marvel">Marvel</option>
            <option value="DC">DC</option>
          </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Biografia</label>
            <textarea formControlName="bio" class="form-control" rows="3"></textarea>
        </div>
        <!-- <div class="form-group">
            <label for="exampleFormControlFile1">Seleccione imagen del Heroe</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div> -->
        <button (click)="onSaveForm()" class="btn btn-primary btn-block" type="button">Crear</button>
    </form>

</div>