<div class="card animated fadeIn fast shadow p-3 mb-5 bg-white rounded">
    <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
    <div class="card-body ">
        <h5 class="card-title ">{{ heroe.nombre }}</h5>
        <p class="card-text ">{{ heroe.bio }}</p>
        <p class="card-text "><small class="text-muted ">{{ heroe.aparicion }}</small></p>
        <button (click)="verHeroe()" type="button " class="btn btn-primary btn-block ">
        ver mas... <span class="badge badge-light">{{ index }}</span>
      </button>

        <!-- redireccionamiento con link -->
        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block ">
        ver mas link...
      </a> -->

    </div>
</div>